body {
    background-color: #eee;
    direction: rtl;
}


#myp {
    color:white; direction: rtl; 
    font-size: 17px;
    font-weight: bold;
    line-height: 1.7;

}

h1 {
    color: black;
    font-weight: bold;
    direction:rtl;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

a:visited{
       color: red;
       font-weight: bold;
}

#container {
    width: 75%;
    margin: auto;
}

.div-class {
    background-color: black;
    color: white;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border: 5px red solid ;
    border-style: dotted;

    padding-top: 20px;
    padding-right: 10px;

    padding: 20px 10px 20px 10px;      
}

.div-class h1{
    color: #eee;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5em;   
    word-spacing: 2.5em;                          
}



.div-class p{
    text-align: justify ;
}

#div-list {
    background-color: #fff;
    border: 2px dotted black;
    padding: 20px 10px ;
    margin: 20px 0 ;
}


#div-list ul {
    list-style: square;
    list-style: none;
    
}

.my-form{
    padding: 20px;
}

.my-form .form-group {
    padding: 10px 0;
}
.my-form label{
    display: block;
}
/*display : chegadr label shode bashe block = eshgal kol satr*/

.my-form input[type=text]{
    width: 100%; 
    background-color: antiquewhite;
    border: solid rgba(148, 22, 22, 0.548) 1px;
}
/*type=text : dokme submit dg intori nemishe*/

.button{
    background-color: burlywood;
}

.button:hover{
    background-color: white;
    color: burlywood;
}

.my-form textarea{
    width: 100%;
}

.my-form input[type=text]:focus , .my-form textarea:focus {
    background-color: #eee;
}

.col3 {
    background: #333;
    color: #fff;
    width: 33.3%;
    float: right;
    padding: 10px;
    border: red  solid 1px   ;
    box-sizing: border-box;
    border-radius: 20px;
}

.clear{
    clear: both;
}

/* clear bara float ke yani shenavar hazf mikone */

.main-content{
         width: 60%;
         background-color: #fff;
         float: right;
}

.side-bar{
    background-color: wheat;
    color: blue;
    width: 40%;
    float:left;
    box-sizing: border-box;
    padding: 20px;
    border-left: red solid 2px;
}

.position{
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: burlywood;
    position: relative;
    background-image: url(./images/01172s.png);
    background-repeat: no-repeat;
    background-position: center;
}

.position h3{
    top: 100px;
    position: absolute;
    left: 50px;

}

.position h5{
    position: fixed;
    left: 0px;
    top: 30px;
}